table {
    background: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

thead {
    background: orange;
    border-style: solid;
}

.card-form {
    overflow: scroll;
    height: 300px;
}

th {
    padding: 15px;
    border-style: solid;
    border-color: orange;
    color: white;
    text-transform: capitalize;
}

.campo-1 {
    width: 100px;
}

td {
    padding: 10px 25px;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 0.2px;
}

tr:hover {
    background: #dcdcdc;
}

img {
    border-radius: 3px;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 0.2px;
    width: 100px;
}

@media (max-width: 800px) {
    .dispensavel {
        display: none;
    }
}