:root {
    --cor-fundo-body: #ffae1a;
    --cor-fundo-form: #FFFAFA;
    --cor-borda: #D3D3D3;
    --cor-texto: #2F4F4F;
    --cor-fundo-btn-hover: #ffa500;
}
body {
    margin: 0 auto;
    background-color: var(--cor-fundo-body);
    font-family: "Arial", Tahoma, arial;
    color: var(--cor-texto);
}
img {
    width: 100px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 15px;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
form {
    width: 420px;
    border-radius: 5px;
    background-color: var(--cor-fundo-form);
}
form header {
    text-align: center;
    padding: 10px;
}
.input-texto {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    flex-direction: column;
    width: 80%;
}
.input {
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--cor-borda);
    outline: none;
}
hr {
    border-color: var(--cor-fundo-body);
    border-radius: 10px;
    opacity: 0.7;
}
.inline {
    display: inline-block;

}

.btn {
    width: 49.3%;
}

.btn-enviar {
    background-color: var(--cor-fundo-body);
    color: var(--cor-fundo-form);
    border-color: var(--cor-fundo-btn-hover);
}

.btn-enviar:hover {
    background-color: black;
}

.btn:hover {
    background-color: var(--cor-fundo-btn-hover);
    color: var(--cor-fundo-form);
    border-color: var(--cor-fundo-btn-hover);
    transition-duration: 0.1s;
}
.margin-80 {
    clear: both;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 14px;
}
.align-left {
    float: left;
}
.align-right {
    float: right;
}
a {
    margin-top: 12px;
    text-decoration: none;
    font-style: none;
}
a:hover {
    opacity: 0.7;
}
a:active {
    color: var(--cor-fundo-body);
}
meter {
    width: 100%;
}
.desc {
    margin-bottom: 10px;
}