.box-profile img {
    max-width: 300px;
    text-align: center;
    border-radius: 0;
    margin: 0 auto;
    display: block;
    border-radius: 200px;
    margin-bottom: 20px;

    width: 230px;
    height: 230px;
}

.box-profile .input-radio {
    width: 100% !important;
}

.box-profile .foto-profile, .form-profile {
    padding: 20px;
}

.foto-profile span {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.foto-profile input {
    width: 100%;
    margin-bottom: 10px;
}

.foto-profile #uploadFoto {
    
}

.form-profile input {
    width: 100%;
    margin-bottom: 10px;
}

.form-profile .validacao {
    margin-left: 0px;
}

.resetPadding {
    padding: 2px;
}

.perfil-terceiro button {
    width: 100%;
}

.small-box p {
    font-size: 19px;
}

.containerUploadFoto {
    padding: 10px;
    margin-bottom: 10px;
}

#uploadFoto {
    margin: 0 auto;
    max-width: 376px;
}

.box-trocaSenha input {
    width: 100%;
    margin-bottom: 10px;
}