.margin-80 {
  clear: both;
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 14px;
}
a {
  margin-top: 12px;
  text-decoration: none;
  font-style: none;
}
meter {
  width: 100%;
}