.box-pets p {
    margin: 0px;
}

#delete-valuebox, #update-valuebox, #confirmUpdate-valuebox {
    position: relative;
    float: right;
    z-index: 1;
    color: black;
    opacity: 0.5;
    padding: 4px 8px;
    font-size: bold;
    max-width: 33px;
}

#update-valuebox {
    margin-right: 7px;
}

#delete-valuebox:hover, #update-valuebox:hover, #confirmUpdate-valuebox:hover {
    color: var(--cor-btn-primaria-hover);
    opacity: 0.8;
}

.box-newPet label, .box-atualizaPet label {
    display: block;
    padding: 5px;
    margin-bottom: 3px;
}

.box-newPet input, .box-atualizaPet input {
    display: block;
    padding: 3px;
    margin-bottom: 3px;
}

.box-newPet #btnAdicionar {
    width: 100%;
    margin-bottom: 20px;
}

.box-newPet input,label, .box-atualizaPet input,label {
    color: black;
}

.box-newPet input,label:hover, .box-atualizaPet input,label:hover {
    color: black;
}

.box-newPet select, .box-atualizaPet select {
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
    flex-direction: column;
    width: 80%;
    height: 30px;
    padding: 5px;
    color: black;
}

.box-pets img {
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2px;
}

.small-box {
    color:var(--cor-texto-primaria);
}

.small-box .icon {
    font-size: 150px;
    right: 20px;
}

.small-box:hover .icon {
    font-size: 150px;
    transform: rotate(7deg);
}

.small-box input:disabled, select:disabled {
    background-color: #D3D3D3 !important;
}