:root {
  --cor-fundo-body: #ffae1a;
  --cor-fundo-form: #FFFAFA;
  --cor-borda: #D3D3D3;
  --cor-texto: #2F4F4F;
  --cor-fundo-btn-hover: #ffa500;
}
body {
  margin: 0 auto;
  background-color: var(--cor-fundo-body);
  font-family: "Arial", Tahoma, arial;
  color: var(--cor-texto);
}
img {
  width: 100px;
  margin-top: 15px;
  display: inline-block;
}
section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
form {
  width: 420px;
  border-radius: 5px;
  background-color: var(--cor-fundo-form);
}
form header {
  text-align: center;
  padding: 10px;
}
.input-texto {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  flex-direction: column;
  width: 80%;
}
.input {
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--cor-borda);
  outline: none;
}
hr {
  border-color: var(--cor-fundo-body);
  border-radius: 10px;
  opacity: 0.7;
}
.inline {
  display: inline-block;

}

.btn {
  width: 49.3%;
  cursor: pointer;
}

.btn-enviar {
  background-color: var(--cor-fundo-body);
  color: var(--cor-fundo-form);
  border-color: var(--cor-fundo-btn-hover);
}

.btn:hover {
  background-color: var(--cor-fundo-btn-hover);
  color: var(--cor-fundo-form);
  border-color: var(--cor-fundo-btn-hover);
  transition-duration: 0.1s;
}
.margin-80 {
  clear: both;
  display: block;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 14px;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
a {
  text-decoration: none;
  font-style: none;
}
a:hover {
  opacity: 0.7;
}
a:active {
  color: var(--cor-fundo-body);
}
.erro-validacao {
  margin: 0 auto;
  width: 80%;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
  color: red;
}
.visivel {
  display: block;
}
.invisivel {
  display: none;
}
.credencial-invalida {
  background-color:	#FA8072;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 4px;
}