:root {
  font-size: 60%;
  --cor-fundo-body: #ecf0f5;
  --cor-fundo-body2: #ffae1a;
  --cor-fundo-form: #FFFAFA;
  --cor-borda: #D3D3D3;
  --cor-texto: #2F4F4F;
  --cor-fundo-btn-hover: #ffa500;
  
  --color-background: #f6f7f0;
  --color-primary-lighter: #fcad1a;
  --color-primary-light: #fdba3d;
  --color-primary: #ffa500;
  --color-primary-dark: #e77c02ea;
  --color-primary-darker:#8f4d03ea;
  --color-secundary: #f8b12c;
  --color-secundary-dark:  #d6900e;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #ffddc2;
  --color-text-title: #4d3c26;
  --color-text-complement: #a6a098;
  --color-text-base: #807261;
  --color-line-in-white: #f0eee6;
  --color-input-background: #fcfcf8;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #fcfbfa;
}


html, body, #root {
  background-color: var(--color-primary);
}

body {
  margin: 0 auto;
  background-color: var(--cor-fundo-body);
  font-family: "Arial", Tahoma, arial;
  color: var(--cor-texto);
}

body, button, a {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
      font-size: 62.5%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 15px;
  gap: 20px;
}
a {
  text-decoration: none;
  vertical-align: middle;
}
a:hover {
  opacity: 0.95;
}
a:active {
  color: var(--cor-fundo-body);
}

/* FORMULARIO ********/

.grid div {
  text-align: center;
}

.form-auth {
  width: 420px;
  border-radius: 5px;
  background-color: var(--cor-fundo-form);
  border-style: solid;
  border-color: var(--cor-borda);
  border-width: 1px;
}

.main-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.skin-blue .main-header .logo {
  background-color: #ffae1a;
}

.skin-blue .main-header .logo:hover {
  background-color: #ffa500;
}

.skin-blue .main-header .navbar {
  background-color: #ffae1a;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #ffa500;
}

.bg-Cachorro {
  background-color: #17a2b8;
}

.bg-Gato {
  background-color: #3d9970
}

.bg-Peixe {
  background-color: #F08080;
}

.titulo-card {
  background-color: #DCDCDC;
  text-align: left !important;
  padding: 0px 15px;
}

.my-10 {
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 30px;
}

.titulo-card h4 {
  display: inline-block;
}

.skin-blue .main-header li.user-header {
  background-color: #222d32 !important;
}

.skin-blue .main-header li.user-footer {
  background-color:#A9A9A9 !important;
}

.skin-blue .main-header li.user-footer a {
  background-color:#A9A9A9 !important;
  color: white !important;
  padding: 6px 18px;
}

.box-header {
  background: #DCDCDC;
}

.content {
  justify-content: space-between !important;
}

.content-header {
  justify-content: left !important;
}

.row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}