:root {
    --cor-fundo-valido: #93bf85;
    --cor-fundo-invalido: #ff9e81;

    --cor-fundo-radio: #e9e9e9;
    --cor-fundo-radio-checked: #48D1CC; 
}

.input-radio {
    display: block;
    background: var(--cor-fundo-radio);
    width: 60%;
    height: 100%;
    margin: 0 auto;
    color: black;
}

.input-radio-checked {
    background: var(--cor-fundo-radio-checked);
}

.input-texto {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    flex-direction: column;
    width: 80%;
}
.input {
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--cor-borda);
    outline: none;
}

.valido {
    background: var(--cor-fundo-valido);
}
.invalido {
    background: var(--cor-fundo-invalido);
}